In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved and created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Karuzi,BI,2022-07-22 12:33:08,-3.1250,30.1333,79.21,31,71,7.34
1,1,Bandarbeyla,SO,2022-07-22 12:33:09,9.4942,50.8122,80.28,71,100,32.21
2,2,Rikitea,PF,2022-07-22 12:32:47,-23.1203,-134.9692,72.30,80,100,8.14
3,3,New Norfolk,AU,2022-07-22 12:33:09,-42.7826,147.0587,49.50,97,100,2.95
4,4,Celles,BE,2022-07-22 12:33:10,50.7123,3.4573,72.99,59,100,1.99

In [3]:
# Get the data types. (Need to confirm if the data columns are integers or floating-point decimal numbers)
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # The general syntax for creating a heatmap is as follows

# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]

# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length

# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()

# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)

# # 6. Call the figure to plot the data.
# fig

# NOTE: An "InvalidWeightException" error will occur if a maximum temperature value is less than 0 Â°F.
# Google heatmaps can't plot negative numbers.

In [7]:
# To remove the negative temperatures; use a for loop to iterate through the max_temp values.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of temperature (with negative max temp values removed)

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of temperature (excluding "temps" variable and using list comprehension)

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Add center and zoom_level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Add center and zoom_level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Karuzi,BI,2022-07-22 12:33:08,-3.1250,30.1333,79.21,31,71,7.34
1,1,Bandarbeyla,SO,2022-07-22 12:33:09,9.4942,50.8122,80.28,71,100,32.21
2,2,Rikitea,PF,2022-07-22 12:32:47,-23.1203,-134.9692,72.30,80,100,8.14
3,3,New Norfolk,AU,2022-07-22 12:33:09,-42.7826,147.0587,49.50,97,100,2.95
4,4,Celles,BE,2022-07-22 12:33:10,50.7123,3.4573,72.99,59,100,1.99

In [18]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 82

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Karuzi,BI,2022-07-22 12:33:08,-3.1250,30.1333,79.21,31,71,7.34
1,1,Bandarbeyla,SO,2022-07-22 12:33:09,9.4942,50.8122,80.28,71,100,32.21
6,6,Hasaki,JP,2022-07-22 12:33:11,35.7333,140.8333,81.28,91,52,19.75
9,9,Touros,BR,2022-07-22 12:28:53,-5.1989,-35.4608,79.79,74,76,11.68
10,10,Albany,US,2022-07-22 12:31:23,42.6001,-73.9662,78.31,72,0,2.89
11,11,Banda Aceh,ID,2022-07-22 12:33:12,5.5577,95.3222,80.06,83,100,6.89
13,13,Bengkulu,ID,2022-07-22 12:33:13,-3.8004,102.2655,78.94,86,100,7.83
17,17,Butaritari,KI,2022-07-22 12:33:15,3.0707,172.7902,80.71,79,81,9.01
22,22,Ponta Do Sol,PT,2022-07-22 12:33:16,32.6667,-17.1000,80.71,68,0,3.62
25,25,Nabire,ID,2022-07-22 12:30:18,-3.3667,135.4833,76.12,90,94,2.93

In [25]:
# Check to see if the preferred_cities_df ha any null values. (Adjusted max_temp to 82)
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City","Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Karuzi      BI     79.21  -3.1250   30.1333
1    Bandarbeyla      SO     80.28   9.4942   50.8122
6         Hasaki      JP     81.28  35.7333  140.8333
9         Touros      BR     79.79  -5.1989  -35.4608
10        Albany      US     78.31  42.6001  -73.9662
11    Banda Aceh      ID     80.06   5.5577   95.3222
13      Bengkulu      ID     78.94  -3.8004  102.2655
17    Butaritari      KI     80.71   3.0707  172.7902
22  Ponta Do Sol      PT     80.71  32.6667  -17.1000
25        Nabire      ID     76.12  -3.3667  135.4833

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}